// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

a {
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

.btn:focus,
.btn:active,
textarea {
    outline: none !important;
    box-shadow: none;
}
